# Q1

In [1]:
import pandas as pd


data = {'A': [1, 2], 'B': [3, 4]}

#1
df = pd.DataFrame(data)
#2
df.head(3)

   A  B
0  1  3
1  2  4

In [2]:
#3
df.describe()

              A         B
count  2.000000  2.000000
mean   1.500000  3.500000
std    0.707107  0.707107
min    1.000000  3.000000
25%    1.250000  3.250000
50%    1.500000  3.500000
75%    1.750000  3.750000
max    2.000000  4.000000

In [3]:
#4
df.tail()

   A  B
0  1  3
1  2  4

In [4]:
#5
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       2 non-null      int64
 1   B       2 non-null      int64
dtypes: int64(2)
memory usage: 160.0 bytes

# Q2

In [5]:
def reindex_df(df):
    df.index = range(1, len(df) * 2, 2)
    return df

# Example usage
df = pd.DataFrame({'A': [1, 2], 'B': [3, 4], 'C': [5, 6]})
reindexed_df = reindex_df(df)

In [6]:
df

   A  B  C
1  1  3  5
3  2  4  6

# Q3

In [7]:
def sum_first_three(df):
    total = df['Values'].head(3).sum()
    print("Sum of the first three values:", total)

# Example 
df = pd.DataFrame({'Values': [10, 20, 30, 40, 50]})
sum_first_three(df)
df

Sum of the first three values: 60

   Values
0      10
1      20
2      30
3      40
4      50

# Q4

In [8]:
def add_word_count(df):
    df['Word_Count'] = df['Text'].apply(lambda x: len(x.split()))
    return df

# Example 
df = pd.DataFrame({'Text': ['Hello world', 'Pandas is great']})
updated_df = add_word_count(df)
updated_df

              Text  Word_Count
0      Hello world           2
1  Pandas is great           3

# Q5

Difference Between DataFrame.size and DataFrame.shape

1.DataFrame.size: Returns the total number of elements in the DataFrame (rows Ã— columns).

2.DataFrame.shape: Returns a tuple representing the dimensions of the DataFrame (number of rows, number of columns).

# Q6

In [12]:
#pd.read_excel('file.xlsx')

# Q 7

In [9]:
def extract_username(df):
    df['Username'] = df['Email'].apply(lambda x: x.split('@')[0])
    return df

# Example 
df = pd.DataFrame({'Email': ['john.doe@example.com', 'jane.smith@domain.com']})
updated_df = extract_username(df)
updated_df

                   Email    Username
0   john.doe@example.com    john.doe
1  jane.smith@domain.com  jane.smith

# Q8

In [11]:
def select_rows(df):
    # Select rows where column 'A' > 5 and column 'B' < 10
    filtered_df = df[(df['A'] > 5) & (df['B'] < 10)]
    return filtered_df

# Example usage
data = {
    'A': [3, 8, 6, 2, 9],
    'B': [5, 2, 9, 3, 1],
    'C': [1, 7, 4, 5, 2]
}

df = pd.DataFrame(data)

# Get the filtered DataFrame
result_df = select_rows(df)
print(result_df)

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

# Q9

In [13]:
import pandas as pd

def calculate_statistics(df):
    mean_value = df['Values'].mean()
    median_value = df['Values'].median()
    std_dev = df['Values'].std()
    
    return mean_value, median_value, std_dev

# Example usage
data = {
    'Values': [10, 20, 30, 40, 50]
}

df = pd.DataFrame(data)
mean, median, std = calculate_statistics(df)
print("Mean:", mean)
print("Median:", median)
print("Standard Deviation:", std)

Mean: 30.0
Median: 30.0
Standard Deviation: 15.811388300841896

# Q10

In [14]:
def calculate_moving_average(df):
    df['MovingAverage'] = df['Sales'].rolling(window=7).mean()
    return df

# Example usage
sales_data = {
    'Sales': [100, 200, 150, 300, 250, 400, 350, 500, 450, 600],
    'Date': pd.date_range(start='2023-01-01', periods=10)
}

df_sales = pd.DataFrame(sales_data)
df_sales = calculate_moving_average(df_sales)
print(df_sales)

   Sales       Date  MovingAverage
0    100 2023-01-01            NaN
1    200 2023-01-02            NaN
2    150 2023-01-03            NaN
3    300 2023-01-04            NaN
4    250 2023-01-05            NaN
5    400 2023-01-06            NaN
6    350 2023-01-07     250.000000
7    500 2023-01-08     307.142857
8    450 2023-01-09     342.857143
9    600 2023-01-10     407.142857

# Q11

In [15]:
def add_weekday_column(df):
    df['Weekday'] = pd.to_datetime(df['Date']).dt.day_name()
    return df

# Example usage
date_data = {
    'Date': ['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05']
}

df_dates = pd.DataFrame(date_data)
df_dates = add_weekday_column(df_dates)
print(df_dates)

         Date    Weekday
0  2023-01-01     Sunday
1  2023-01-02     Monday
2  2023-01-03    Tuesday
3  2023-01-04  Wednesday
4  2023-01-05   Thursday

In [16]:
#q12
import pandas as pd

def select_date_range(df):
    # Convert 'Date' column to datetime if it's not already
    df['Date'] = pd.to_datetime(df['Date'])
    # Select rows within the specified date range
    filtered_df = df[(df['Date'] >= '2023-01-01') & (df['Date'] <= '2023-01-31')]
    return filtered_df

# Example usage
data = {
    'Date': ['2023-01-01', '2023-01-15', '2023-02-01', '2023-01-31'],
    'Value': [10, 20, 30, 40]
}

df = pd.DataFrame(data)
result_df = select_date_range(df)
print(result_df)

        Date  Value
0 2023-01-01     10
1 2023-01-15     20
3 2023-01-31     40

In [17]:
#q13

import pandas as pd