In [15]:
#q1

In [16]:
import pandas as pd

# Create the Pandas Series
data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)

# Print the series
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [17]:
#q2

In [18]:
#Create a list with 10 elements
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Create a Pandas Series from the list
series = pd.Series(my_list)

# Print the Series
print(series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [19]:
#q3

# Create a DataFrame with the given data
data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}

df = pd.DataFrame(data)

# Print the DataFrame
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [20]:
#q4

A DataFrame in Pandas is a two-dimensional, size-mutable, and potentially heterogeneous tabular data structure with labeled axes (rows and columns). It can be thought of as a table or a spreadsheet-like structure where data is organized in rows and columns.

Differences between DataFrame and Series
Structure:

Series: A one-dimensional labeled array capable of holding any data type. It can be considered as a single column.
DataFrame: A two-dimensional labeled data structure with columns that can be of different types (e.g., integers, floats, strings).
Use Cases:

Series: Useful for representing a single column of data.
DataFrame: Useful for representing an entire dataset with multiple columns.
Example

In [21]:


# Create a Series
data_series = pd.Series([10, 20, 30, 40])
print("Pandas Series:")
print(data_series)

# Create a DataFrame
data_frame = pd.DataFrame({
    'Column1': [10, 20, 30, 40],
    'Column2': ['A', 'B', 'C', 'D']
})
print("\nPandas DataFrame:")
print(data_frame)

Pandas Series:
0    10
1    20
2    30
3    40
dtype: int64

Pandas DataFrame:
   Column1 Column2
0       10       A
1       20       B
2       30       C
3       40       D

In [22]:
#q5

In [23]:

data_frame = pd.DataFrame({
    'Column1': [10, 20, 30, 40],
    'Column2': ['A', 'B', 'C', 'D']
})
print("\nPandas DataFrame:")
print(data_frame)
#head(): Returns the first n rows of the DataFrame.
data_frame.head(2)

Pandas DataFrame:
   Column1 Column2
0       10       A
1       20       B
2       30       C
3       40       D

   Column1 Column2
0       10       A
1       20       B

## q6 Series, DataFrame,

In [24]:
#q7
# Create individual Series
series1 = pd.Series([1, 2, 3], name='A')
series2 = pd.Series(['X', 'Y', 'Z'], name='B')
series3 = pd.Series([10.5, 20.5, 30.5], name='C')

# Create a DataFrame using the Series
data_frame = pd.DataFrame({
    'A': series1,
    'B': series2,
    'C': series3
})

# Print the DataFrame
print(data_frame)

   A  B     C
0  1  X  10.5
1  2  Y  20.5
2  3  Z  30.5